.all_books{
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 40px;
}

.book_cart-treatment-kit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 20px auto;
  }
  
  .book_cart-text-section {
    flex-grow: 1;
  }
  
  .book_cart-title {
    font-size: 18px;
    margin: 0;
  }
  
  .book_cart-subtitle {
    font-size: 14px;
    color: gray;
    margin: 0;
  }
  
  .book_cart-price-section {
    display: flex;
    align-items: center;
  }
  
  .book_cart-price {
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
  }
  
  .book_cart-quantity-selector {
    display: flex;
    align-items: center;
  }
  
  .book_cart-quantity-selector button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .book_cart-quantity-selector .book_cart-quantity {
    margin: 0 10px;
    font-size: 16px;
  }
  
  .book_cart-image-section img {
    width: 50px;
    height: auto;
    border-radius: 5px;
  }
  
  .book_infor{
 gap: 20px;
  }
 
  @media (max-width: 767px) {
    .all_books{
  
      display: grid;
      grid-template-columns: repeat(2, 0.6fr);
      grid-template-rows: repeat(3, 0.6fr);
      grid-column-gap: -100px;
      grid-row-gap: 40px;
      margin-left: 10%;
  }
  .one_book{
    width: 14rem !important;
  }
  .bookstore_navbar{
   width: 100% !important;
  
  } 
  
  }

 .bookstore_navbar{
  width: 100%!important;
align-items:safe !important;
 background-color: #abbbd3;
 } 

 @media (max-width: 460px) {
  .admin_login_container{
    width:110% !important;
    margin-top: -100px;
    margin-left: -10px;
  }
  .one_book{
    width: 17rem !important;
    
  }
  .all_books{
    padding: 0 !important;
    margin-left: 14%;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
  }
 }